<div class='container-fluid'>
  <div class='col-12'>
    <ngb-carousel style="padding: 20px;">
      <ng-template ngbSlide>
        <div class="skill-row">
          <img class="programming-gif" src="/assets/programing_gif.gif" alt="programming gif">
          <h3>Coding</h3>
          <p>I am fascinated by the computer science field and spend my time learning more languages and
            frameworks.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="skill-row">
          <img class="learning-gif" src="/assets/reading_books.gif" alt="learning gif">
          <h3>Reading</h3>
          <p>I enjoy spending my time reading and learning new skills.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="skill-row">
          <img class="swimming-picture" src="/assets/giphy swimming.gif" alt="swimming gif">
          <h3>Swimming</h3>
          <p>I started swimming in highschool and was part of the varsity team for 3.5 years and have been
            swimming for 10 years since.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="skill-row">
          <img class="videogame-gif" src="/assets/videogame_gif.gif" alt="videogame gif">
          <h3>Videogames</h3>
          <p>I spend my time playing videogames and learning how they work.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>
